<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/style6.css" />
	<meta http-equiv="content-type" content="text/html;charset-utf-8" />
	<title>Registros - Contas</title>
	<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
</head>

<body>
  <h1 class="text-center title-1"> Lista de Usu&aacute;rios </h1>
  <ul>
    <% userlist.forEach(function(user){ %>
    <li>
      <a href="mailto:" <%= user.email %>"><%= user.email %>
      </a>
    </li>
    <%})%></ul>
  <div class="nu"><a class="botao" href="./users/logout" target="">Logout</a></div>
  <div class="nu"><a class="botao" href="usuarios.html" target="">Acesso Admin</a></div>

  <!--<a href="./users/logout">Logout</a>-->
</body>

</html>