body{
	background-color: white;
	font-family: Graphik,'Gotham SSm A','Gotham SSm B','Helvetica Neue',Helvetica,Arial,sans-serif !important;
    font-size: 18px; 
    font-style: bold;
    display: block; 
    margin: 0%;
	
}

p.tit{
	font-size: 32px;
    max-width: 26rem;
    line-height: 1.25em;
    color: rgb(138, 5, 190);
    margin-bottom: 32px;
}

.boxlabel{
	color: rgb(177, 173, 183);
}

.confirm{
	color: rgb(118, 118, 118);
}

.botton{
    display: inline;
}

.botton input[type="submit"]{
    width:200px;
	height:20px;
	background-color: #81259D; 
	color:white; 
	font-family: "Gotham SSm A","Gotham SSm B","Helvetica Neue",sans-serif;
	padding: 26px 30px; 
	text-align: center; 
	text-decoration: none; 
	display: inline-block;

}


a.politica{
	position: relative;
    font-size: inherit;
    cursor: pointer;
    box-sizing: border-box;
    background-size: 0px 1px, 100% 1px;
    color: rgb(138, 5, 190);
    background-image: linear-gradient(120deg, rgb(138, 5, 190) 0%, rgb(138, 5, 190) 100%), linear-gradient(120deg, rgb(204, 204, 204) 0%, rgb(204, 204, 204) 100%);
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: 0px 100%, 100% 100%;
    transition: background-size 0.2s ease-in-out 0s;
}
/* parte da validação do formulario*/
    .error{
        color:rgb(138, 5, 190);
	}
